<!DOCTYPE html>
<html class="no-js" lang="fr">
  {% include "./meta.html" %}

  <body class="template-color-1">
    <div class="main-wrapper">
      <!-- Begin Uren's Header Main Area -->
      {% include "./header.html" %}
      <!-- Uren's Header Main Area End Here -->

      <div>
        {% block body %}
        <h1>Hello world</h1>
        {% endblock %}
      </div>

      <!-- Begin Uren's Footer Area -->
      <div class="uren-footer_area">
        {% include "./newsletter.html" %} {% include "./footer.html" %}
      </div>
      <!-- Uren's Footer Area End Here -->

      {% include "./modal.html" %}
    </div>

    {% include "./script.html" %}
  </body>
</html>
